<ion-header>

  <ion-navbar>
    <ion-title>Nova Questão</ion-title>
    <ion-buttons end>
      <button (click)="close()" ion-button icon-only>Cancelar</button>
      <button (click)="submit()" [disabled]="!form.valid" ion-button text-only>Concluído</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ul>
    <li>
      <p [style.text-decoration]=" !form.controls.question.valid ? '' : 'line-through'">Digite a questão</p>
    </li>
    <li>
      <p [style.text-decoration]=" !form.controls.correct.valid ? '' : 'line-through'">Escolha uma opção como correta</p>
    </li>
    <li>
      <p [style.text-decoration]="form.controls.options.touched && form.controls.options.valid ? 'line-through' : ''">Adicione pelo menos duas alternativas</p>
    </li>
  </ul>

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Questão</ion-label>
      <ion-input type="text" formControlName="question" placeholder="Digite a sua questão aqui"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-textarea formControlName="description" placeholder="Você pode usar este espaço para adicionar detalhes"></ion-textarea>
    </ion-item>
    <ion-list radio-group formControlName="type" (ionChange)="updateValidators()">
      <ion-item>
        <ion-label>Múltipla escolha</ion-label>
        <ion-radio checked="true" value="mc"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Verdadeiro/Falso</ion-label>
        <ion-radio value="bool"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Aberta</ion-label>
        <ion-radio value="free"></ion-radio>
      </ion-item>
    </ion-list>

    <div *ngIf="form.value.type !== 'free'">
      <!-- <ion-list reorder="true" radio-group formControlName="correct" (ionItemReorder)="reorder($event)"> -->
      <ion-list radio-group formControlName="correct">
        <ion-item formArrayName="options" *ngFor="let student of form?.controls?.options?.controls; let i = index" >
          <button clear ion-button item-right>
            <ion-radio value="{{i}}"></ion-radio>
          </button>
          <ion-label>
            Correta
          </ion-label>
          <ion-input [formControlName]="i"  type="text" placeholder="Alternativa {{i}}"> </ion-input>
          <button (click)="delete(i)" clear ion-button item-right icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

      <button ion-button clear (click)="addOption()">Adicionar Alternativa</button>
    </div>
  </form>

</ion-content>
