<ion-header>

  <ion-navbar>
    <ion-title>Editar marcadores</ion-title>
    <ion-buttons end>
      <button (click)="close()" ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- new label form -->
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Marcador</ion-label>
      <ion-input type="text" formControlName="text" placeholder="Criar novo marcador"></ion-input>
      <button clear ion-button item-right (click)="submit()" [disabled]="!form.valid">
        Salvar
      </button>
    </ion-item>
  </form>

  <!-- list labels -->
  <!-- TODO -->
  <ion-list>
    <ion-item *ngFor="let label of labels">
      <ion-icon name="pricetag" item-left small></ion-icon>
      <ion-input type="text" [(ngModel)]="label.text" (click)="label.edit = !label.edit" [readonly]="!label.edit"></ion-input>
      <button clear ion-button item-right (click)="edit(label)" *ngIf="label.edit">
        Salvar
      </button>
      <button clear ion-button item-right (click)="remove(label)" icon-only>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
