<ion-list>
  <ion-item>
    Estudantes online
    <span item-right *ngIf="room?.private; else anonymousStats">{{room?.people}}/{{room?.students.length}}</span>
    <ng-template #anonymousStats>
      <span item-right>{{room?.peopleOnline}}</span>
    </ng-template>

  </ion-item>
  <button ion-item class="button-clear" (click)="clear()">
    <ion-icon name="close-circle" item-right color="danger"></ion-icon>
    Limpar sala
  </button>
  <ion-item *ngFor="let student of room?.students">
    {{student.name}}
    <ion-icon name="ios-wifi" item-right [color]="student.online ? 'secondary' : ''"></ion-icon>
  </ion-item>
</ion-list>
