page-poll {
  // workaround label fab-button
  .fab {
    contain: layout;
  }

  #loading {
    padding: 16px;
    text-align: center;
  }

  .welcome {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }

  .question {
    font-size: 20px;
    font-weight: 400;
  }

  .image {
    text-align: center;
  }
}
