<ion-header>

  <ion-navbar>
    <ion-title>{{room?.name}} #{{code}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!poll">
    <div id="loading">
      <img src="/assets/loading.svg">
    </div>

    <div class="welcome">
      <p>
        <span *ngIf="!student?.name">Bem</span>
        <span *ngIf="student?.name">
          <span ion-text color="primary">{{student?.name}}</span>, bem
        </span> vindo à apresentação de <span ion-text color="primary">{{room?.user?.name}}</span> na turma de <span ion-text color="primary">{{room?.name}}</span>
      </p>
      <p>
        Assim que {{room?.user?.name.split(' ')[0]}} ativar uma atividade, você vai poder participar aqui.
      </p>
    </div>
  </div>

  <div *ngIf="poll">
    <div class="question">
      <span>{{question?.question}}</span>
    </div>
    <div class="description">
      <span>{{question?.description}}</span>
    </div>

    <ion-list radio-group [(ngModel)]="answer">
      <ion-item *ngFor="let option of question.options; let i = index">
        <ion-label>{{option.text}}</ion-label>
        <ion-radio [value]="option"></ion-radio>
      </ion-item>
    </ion-list>

    <button (click)="submit(answer)" ion-button color="primary" full>ENVIAR</button>
  </div>

  <ion-fab bottom right #fab [hidden]="!attendance">
    <button ion-fab>
      <ion-icon name="options"></ion-icon>
    </button>

    <!-- fab poll -->
    <ion-fab-list side="top">
      <button (click)="askAttendance()" ion-fab color="danger">
        <ion-icon name="hand"></ion-icon>
        <ion-label>Responder chamada</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
