page-home {
  @media screen and (min-width: 992px) {
    ion-list {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 40vw;
    }
  }

  #logo {
    text-align: center;
  }

  #join-button {
    button {
      margin: 0;
      height: 100%;
      width: 20%;
    }

    input {
      text-transform: uppercase;
    }
  }

  #student {
    padding-left: 16px;
    margin-left: 8px;
    font-weight: 500;
    color: color($colors, primary);
  }

  .item-inner {
    padding-right: 0 !important;
  }

  ion-list {
    button {
      &:first-child {
        margin-bottom: 30px;
      }
    }
  }

  ion-list-header {
    margin-bottom: -10px !important;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: none;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: none;
}
