page-professor-questions {
  .title {
    font-weight: 500;
  }

  .description {
    padding-top: 5px;
  }

  .fab {
    contain: layout;
  }

  .info-header {
    font-size: 16px;
  }

  .no-questions-label {
    ion-icon {
      font-size: 40px;
    }
    margin-top: 20vh;
    text-align: center;
    font-size: 20px;
  }

  ion-list {
    @media screen and (min-width: 992px) {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 60vw !important;
    }
  }

  ion-item:first-child {
    button {
      height: 3.6rem !important;
      font-size: 1.4rem !important;
    }
  }
}
