<ion-header>

  <ion-navbar>
    <ion-title>Questões</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <span i18n>{sessionQuestions.length, plural, =0 {Selecione uma ou mais questões} =1 {1 questão selecionada} other {{{sessionQuestions.length}} questões selecionadas}}</span>
      <button ion-button item-right clear icon-left [disabled]="sessionQuestions.length === 0" (click)="goLive()">
        <ion-icon name="play"></ion-icon>
          Iniciar sessão
        </button>
    </ion-item>
    <ion-item *ngFor="let q of questions">
      <ion-label>
        {{q.question}}
        <h3>{{q.typeDescription}} <span *ngIf="q.description"> &#8226; {{q.description}}</span></h3>
      </ion-label>
      <ion-checkbox (ionChange)="questionSelected()" [(ngModel)]="q.isChecked"></ion-checkbox>
      <button clear ion-button icon-only item-right (click)="edit(q)">
          <ion-icon name="create"></ion-icon>
      </button>
      <button clear ion-button icon-only item-right (click)="remove(q)">
          <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="newQuestion()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
