<ion-header>
  <ion-navbar>
    <ion-title>Ao Vivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- old sessions list -->
  <ion-list *ngIf="!poll" padding>
    <h1>Sessões</h1>
    <div *ngIf="sessions?.length < 1">
      <p>Veja aqui todas as sessões encerradas.</p>
      <p>Clique para ver os resultados</p>
    </div>
    <ion-item class="sessions-head">
      <ion-row>
        <ion-col align-self-center col-6>Turma</ion-col>
        <ion-col align-self-center>Questões</ion-col>
        <ion-col align-self-center text-center>Alunos</ion-col>
        <ion-col align-self-center>Última atividade</ion-col>
      </ion-row>
    </ion-item>
    <button ion-item *ngFor="let session of sessions" (click)="goToDetails(session)">
      <ion-row>
        <ion-col align-self-center col-6>{{session.room}}</ion-col>
        <ion-col align-self-center><ion-icon name="list"></ion-icon> {{session.questions?.length}}</ion-col>
        <ion-col align-self-center text-center><ion-icon name="ios-people"></ion-icon> 20</ion-col>
        <ion-col align-self-left><ion-icon name="timer"></ion-icon> {{session.updatedAt | amTimeAgo }}</ion-col>
      </ion-row>
    </button>
    <ion-item *ngIf="sessions?.length < 1">Nenhuma sessão encerrada</ion-item>
  </ion-list>

  <!-- slides -->
  <div class="reveal" [hidden]="!poll">
    <div class="slides">
      <section style="text-align: left;"
        *ngFor="let question of questions"
          [settings]="settings"
          [question]="question"
          [poll]="poll">
      </section>
    </div>
  </div>


  <!-- fab button -->
  <ion-fab bottom right #fab [hidden]="!poll">
    <button ion-fab>
    <ion-icon name="settings"></ion-icon>
  </button>
    <ion-fab-list side="top" [hidden]="isViewMode">
      <button (click)="end()" ion-fab color="danger">
        <ion-icon name="square"></ion-icon>
        <ion-label>Encerrar sessão</ion-label>
      </button>
      <button (click)="stop()" ion-fab [color]="poll?.available == currentSlide ? 'secondary' : ''">
        <ion-icon name="play"></ion-icon>
        <ion-label>{{poll?.available == currentSlide ? 'Pausar votação' : 'Ativar votação'}}</ion-label>
      </button>
      <button ion-fab (click)="showChart()" [color]=" isChartAvailable ? 'secondary' : ''">
        <ion-icon name="stats"></ion-icon>
        <ion-label>{{isChartAvailable ? 'Esconder resultado' : 'Mostrar resultado'}}</ion-label>
      </button>
      <button (click)="showAnswer()" ion-fab [color]="isAnswerAvailable ? 'secondary' : ''">
        <ion-icon name="checkmark"></ion-icon>
        <ion-label>{{!isAnswerAvailable ? 'Mostrar resposta' : 'Esconder resposta'}}</ion-label>
      </button>
      <button ion-fab (click)="fullscreen()" [color]=" isFullscreen ? 'secondary' : ''">
        <ion-icon [name]="isFullscreen ? 'contract' : 'expand'"></ion-icon>
        <ion-label>{{isFullscreen ? 'Sair tela cheia' : 'Tela cheia'}}</ion-label>
      </button>
    </ion-fab-list>
    <ion-fab-list side="top" [hidden]="!isViewMode">
      <button ion-fab (click)="exitViewMode()">
        <ion-icon name="exit"></ion-icon>
        <ion-label>Sair</ion-label>
      </button>
      <button ion-fab (click)="download()">
        <ion-icon name="cloud-download"></ion-icon>
        <ion-label>Exportar</ion-label>
      </button>
      <button ion-fab (click)="fullscreen()" [color]=" isFullscreen ? 'secondary' : ''">
        <ion-icon [name]="isFullscreen ? 'contract' : 'expand'"></ion-icon>
        <ion-label>{{isFullscreen ? 'Sair tela cheia' : 'Tela cheia'}}</ion-label>
      </button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
