<ion-header>
  <ion-navbar>
    <ion-title>Ao Vivo</ion-title>
    <ion-buttons end>
      <students-online [room]="room"></students-online>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- old sessions list -->
  <ion-list [hidden]="appState !== 'SHOW_LIST'" padding>
    <ion-list-header>
      <h1>Sessões encerradas
      <p>Clique para ver o resultado dos estudantes.</p>
      </h1>
      <div class="info">
        <p *ngIf="!sessions?.length">Veja aqui todas as sessões encerradas.</p>
      </div>
    </ion-list-header>
    <ion-item class="sessions-head">
      <ion-row>
        <ion-col align-self-center col-3>Nome</ion-col>
        <ion-col align-self-center col-2>#</ion-col>
        <ion-col align-self-center col-2>Questões</ion-col>
        <ion-col align-self-center col-3>Última atividade</ion-col>
        <ion-col align-self-center col-2>Respostas</ion-col>
      </ion-row>
    </ion-item>
    <button ion-item class="sessions-rows" *ngFor="let session of sessions" (click)="goToDetails(session)">
      <ion-row>
        <ion-col align-self-center col-3><span class="break-word">{{session.room.name}}</span>
        </ion-col>
        <ion-col align-self-center col-2>{{session.room.code}}</ion-col>
        <ion-col align-self-center col-2><ion-icon name="list"></ion-icon> {{session.questions?.length}}</ion-col>
        <ion-col align-self-center col-3><ion-icon name="timer"></ion-icon> {{session.updatedAt | amTimeAgo }}</ion-col>
        <ion-col align-self-center col-2>
          <button outline ion-button>Detalhes</button>
        </ion-col>
    </ion-row>
    </button>
    <ion-item *ngIf="sessions?.length < 1">Nenhuma sessão encerrada</ion-item>
  </ion-list>

  <!-- slides -->
  <div class="reveal" [hidden]="appState === 'SHOW_LIST'">
    <div class="slides">
      <section *ngFor="let question of questions" style="text-align: left;">
        <slide *ngIf="appState === 'POLL_LIVE' || appState === 'SHOW_OLD_POLL'" [settings]="settings" [question]="question" [poll]="poll">
        </slide>
      </section>
      <attendance [attendance]="attendance" [hidden]="appState !== 'TAKE_ATTENDANCE'" [info]="room">
      </attendance>
    </div>
  </div>

  <!-- fab button -->
  <ion-fab bottom right #fab *ngIf="attendance" [hidden]="appState !== 'SHOW_LIST'">
    <button ion-fab>
      <ion-icon name="settings"></ion-icon>
    </button>

    <ion-fab-list side="top">
      <button (click)="setState('TAKE_ATTENDANCE')" ion-fab color="secondary">
        <ion-icon name="hand"></ion-icon>
        <ion-label>Ver frequência</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right #fab [hidden]="appState === 'SHOW_LIST'">
    <button ion-fab>
      <ion-icon name="settings"></ion-icon>
    </button>

    <!-- fab poll -->
    <ion-fab-list side="top" [hidden]="appState !== 'POLL_LIVE'">
      <button id="end-button" (click)="end()" ion-fab color="danger">
        <ion-icon name="square"></ion-icon>
        <ion-label>Encerrar sessão</ion-label>
      </button>
      <button [hidden]="!attendance" (click)="setState('TAKE_ATTENDANCE')" ion-fab color="secondary">
        <ion-icon name="hand"></ion-icon>
        <ion-label>Ver frequência</ion-label>
      </button>
      <button id="play-button" (click)="stop()" ion-fab [color]="poll?.available == currentSlide ? 'secondary' : ''">
        <ion-icon name="play"></ion-icon>
        <ion-label>{{poll?.available == currentSlide ? 'Pausar votação' : 'Ativar votação'}}</ion-label>
      </button>
      <button ion-fab (click)="showChart()" [color]=" isChartAvailable ? 'secondary' : ''">
        <ion-icon name="stats"></ion-icon>
        <ion-label>{{isChartAvailable ? 'Esconder resultado' : 'Mostrar resultado'}}</ion-label>
      </button>
      <button (click)="showAnswer()" ion-fab [color]="isAnswerAvailable ? 'secondary' : ''">
        <ion-icon name="checkmark"></ion-icon>
        <ion-label>{{!isAnswerAvailable ? 'Mostrar resposta' : 'Esconder resposta'}}</ion-label>
      </button>
      <button ion-fab (click)="fullscreen()" [color]=" isFullscreen ? 'secondary' : ''">
        <ion-icon [name]="isFullscreen ? 'contract' : 'expand'"></ion-icon>
        <ion-label>{{isFullscreen ? 'Sair tela cheia' : 'Tela cheia'}}</ion-label>
      </button>
    </ion-fab-list>

    <!-- fab attendance -->
    <ion-fab-list side="top" [hidden]="appState !== 'TAKE_ATTENDANCE'">
      <button [hidden]="!poll" ion-fab (click)="backToPoll()">
        <ion-icon name="backspace"></ion-icon>
        <ion-label>Questões</ion-label>
      </button>
      <button [hidden]="poll" ion-fab (click)="backState()">
        <ion-icon name="backspace"></ion-icon>
        <ion-label>Voltar</ion-label>
      </button>
      <!-- <button ion-fab (click)="pauseAttendance()">
        <ion-icon name="pause"></ion-icon>
        <ion-label>Pausar frequência</ion-label>
      </button> -->
      <button ion-fab (click)="endAttendance()" color="danger">
        <ion-icon name="close"></ion-icon>
        <ion-label>Encerrar frequência</ion-label>
      </button>
      <button ion-fab (click)="fullscreen()" [color]=" isFullscreen ? 'secondary' : ''">
        <ion-icon [name]="isFullscreen ? 'contract' : 'expand'"></ion-icon>
        <ion-label>{{isFullscreen ? 'Sair tela cheia' : 'Tela cheia'}}</ion-label>
      </button>
    </ion-fab-list>

    <ion-fab-list *ngIf="attendance" side="top" [hidden]="appState !== 'SHOW_LIST'">
      <button (click)="setState('TAKE_ATTENDANCE')" ion-fab color="secondary">
        <ion-icon name="hand"></ion-icon>
        <ion-label>Ver frequência</ion-label>
      </button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
