<ion-list *ngIf="log?.length">
  <ion-item>
    Acessos recentes
    <button ion-button clear item-right icon-only (click)="clear()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngFor="let entry of log" text-wrap>
    <span color="primary" ion-text>
        #{{entry.code}} &#8226; {{entry.name}}
      </span>
    <br>
    <ion-note>
      Professor {{entry.user?.name}}
    </ion-note>
    <button ion-button outline item-right (click)="goToPoll(entry.code)">Entrar</button>
  </ion-item>
</ion-list>
