<h6>
  <span *ngIf="settings?.available"> Responda agora em <span ion-text color="secondary">{{poll?.room?.code}}</span></span>
  <span *ngIf="!settings?.available">Votação indisponível <span ion-text color="secondary">{{poll?.room?.code}}</span></span>
  <span style="float: right"><ion-icon name="ios-people" color="secondary"></ion-icon> {{question.votes}}</span>
</h6>
<p>{{question.question}}</p>
<!-- <canvas [hidden]="!question.showChart" width="50%" style="float: right" class="chart" #canvas></canvas> -->
<p *ngFor="let option of question.options; let i = index;" [class.correct]="question.correct === i && question.showAnswer">
  <span class="results" [hidden]="!question.showChart">{{results[i]}}</span>
  <span ion-text color="primary" class="alternative-label">{{labels[i]}})</span> {{option.text}}
</p>
<div [hidden]="!(question?.type === 'free') || !question.showChart">
  <div [attr.id]="question._id" class="word-cloud"></div>
</div>
