section {
  .chart {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 992px) {
      height: 65% !important;
      width: 50% !important;
    }
  }

  .correct {
    background-color: color($colors, secondary);
    width: 48%;
    color: white;
    .alternative-label {
      color: white;
      padding-left: 2px;
    }
  }
}
