section {
  .results {
    display: inline-block;
    width: 100px;
    font-weight: bold !important;
    font-size: 3rem !important;
  }

  .word-cloud {
    width: 1000px;
    height: 400px;
  }

  .correct {
    background-color: color($colors, secondary);
    width: 48%;
    color: white;
    .alternative-label {
      color: white;
      padding-left: 2px;
    }
  }
}
