  page-professor-room {
    .room-head {
      font-weight: 500;
    }
    ion-list {
      @media screen and (min-width: 992px) {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 70vw !important;
      }
    }
  }
