page-professor-room {
  .room-head {
    font-weight: 500;
  }

  ion-list {
    @media screen and (min-width: 992px) {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 80vw !important;
    }
  }

  .no-rooms {
    ion-icon[name="school"]{
      font-size: 40px;
    }
    margin-top: 20vh;
    text-align: center;
    font-size: 20px;
  }

  ion-note {
    display: block;
    margin-top: 5px;
    font-size: 15px;
  }
}

.new-room-modal {
  .modal-wrapper {
    height: 700px;
  }
}
