page-professor-room {
  ion-toggle {
    padding-left: 6px !important;
  }

  .room-head {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .active-label {
    text-align: right;
    color: #c5c5c5;
    width: 50px !important;
    margin-left: auto;
    flex: none;
  }

  ion-list {
    @media screen and (min-width: 992px) {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 50vw !important;
    }
  }

  .no-rooms {
    ion-icon[name="school"] {
      font-size: 40px;
    }
    margin-top: 20vh;
    text-align: center;
    font-size: 20px;
  }

  ion-list .item-inner:hover {
    background-color: #FAFAFA;
  }

  ion-note {
    // display: block;
    margin-top: 5px;
    font-size: 15px;
  }
}

.new-room-modal {
  .modal-wrapper {
    height: 700px;
  }
}
