<ion-header>

  <ion-navbar>
    <ion-title>Turmas</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="newRoom()">
        <ion-icon name="add"></ion-icon>
        Adicionar turma
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- rooms list -->
  <!-- <ion-list padding *ngIf="rooms?.length">
    <ion-item class="room-head">
      <ion-row wrap>
        <ion-col align-self-center col-4>Nome</ion-col>
        <ion-col align-self-center col-2>Acesso</ion-col>
        <ion-col align-self-center col-2>Alunos</ion-col>
        <ion-col align-self-center col-2>Atividades</ion-col>
        <ion-col align-self-center col-1>Ativar</ion-col>
        <ion-col align-self-center col-1></ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngFor="let room of rooms">
      <ion-label>
        <ion-row>
          <ion-col align-self-center col-4><span class="break-word">{{room.name}} </span></ion-col>
          <ion-col align-self-center col-2>
            <ion-icon [name]="room.private ? 'lock' : 'unlock'" [color]="room.online ? 'secondary': ''"></ion-icon> {{ room.code }}
            <ion-note *ngIf="room.private; else anonymous">(Acesso privado)</ion-note>
            <ng-template #anonymous>
              <ion-note>(Acesso livre)</ion-note>
            </ng-template>
          </ion-col>
          <ion-col align-self-center col-2>
            <button ion-button icon-left clear (click)="students(room)">
              <ion-icon name="person-add"></ion-icon>
              {{ room.students?.length || 0 }}
            </button>
          </ion-col>
          <ion-col align-self-center col-2>
            <button ion-button icon-only clear (click)="goToActivities(room)">
              <ion-icon name="list"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-1>
            <ion-toggle (click)="activate(room)" [(ngModel)]="room.online"></ion-toggle>
          </ion-col>
          <ion-col col-1>
            <button [disabled]="room.online" ion-button clear icon-only (click)="askToRemove(room)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list *ngIf="rooms?.length">
    <ion-item *ngFor="let room of rooms">
      <ion-label>
        <span class="room-head">{{room.name}}</span>
        <p>
          <ion-icon [name]="room.private ? 'lock' : 'unlock'" [color]="room.online ? 'secondary': ''"></ion-icon> {{ room.code }}
          <ion-note *ngIf="room.private; else anonymous">(Acesso privado)</ion-note>
          <ng-template #anonymous>
            <ion-note>(Acesso livre)</ion-note>
          </ng-template>
        </p>
        <button item-left ion-button outline small (click)="students(room)">
          {{ room.students?.length || 0 }} estudantes
        </button>
        <button item-left ion-button outline small (click)="goToActivities(room)">
          Frequências
        </button>
      </ion-label>
      <ion-label class="active-label" hideWhen="android,ios">Ativar</ion-label>
      <ion-toggle item-right (ionChange)="activate(room)" [(ngModel)]="room.online"></ion-toggle>
      <button item-right [disabled]="room.online" ion-button clear icon-only (click)="askToRemove(room)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <div class="no-rooms" *ngIf="isDataLoaded && !rooms?.length">
    <div>
      <ion-icon name="school"></ion-icon>
    </div>
    Você ainda não tem nenhuma turma cadastrada. Começe adicionando uma.
    <br>
    <button ion-button icon-left (click)="newRoom()">
      <ion-icon name="add"></ion-icon>
      Adicionar turma
    </button>
  </div>

  <div class="spinner">
    <ion-spinner color="primary" *ngIf="!isDataLoaded"></ion-spinner>
  </div>

  <!-- <ion-fab right bottom>
    <button (click)="newRoom()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab> -->
</ion-content>
