<ion-header>

  <ion-navbar>
    <ion-title>Turmas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- rooms list -->
  <ion-list padding>
    <ion-item class="room-head">
      <ion-row>
        <ion-col align-self-center col-3>Nome</ion-col>
        <ion-col align-self-center col-3>Acesso</ion-col>
        <ion-col align-self-center col-2>Alunos</ion-col>
        <ion-col align-self-center col-2>Atividades</ion-col>
        <ion-col align-self-center col-1>Ativar</ion-col>
        <ion-col align-self-center col-1></ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngFor="let room of rooms">
      <ion-label>
        <ion-row>
          <ion-col align-self-center col-3>{{room.name}}</ion-col>
          <ion-col align-self-center col-3>
            <ion-icon [name]="room.private ? 'lock' : 'unlock'" [color]="room.online ? 'secondary': ''"></ion-icon> {{ room.code }}
            <ion-note *ngIf="room.private; else anonymous">(Acesso privada)</ion-note>
            <ng-template #anonymous>
              <ion-note>(Acesso livre)</ion-note>
            </ng-template>
          </ion-col>
          <ion-col align-self-center col-2>
            <button ion-button icon-left clear (click)="students(room)">
              <ion-icon name="person-add"></ion-icon>
              {{ room.students?.length || 0 }}
            </button>
          </ion-col>
          <ion-col align-self-center col-2>
            <button ion-button icon-left clear (click)="goToActivities(room)">
              <ion-icon name="list"></ion-icon> {{room.activites || 0 }}
            </button>
          </ion-col>
          <ion-col col-1>
            <ion-toggle (click)="activate(room)" [(ngModel)]="room.online"></ion-toggle>
          </ion-col>
          <ion-col col-1>
            <button [disabled]="room.online" ion-button clear icon-only (click)="askToRemove(room)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="newRoom()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
