page-professor-session-results {
  ion-list {
    @media screen and (min-width: 992px) {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 80vw !important;
    }
  }

  .overall {
    font-size: 3.5rem;
    font-weight: 500;
    color: color($colors, primary);
  }

  .fab {
    contain: layout;
  }
}
